body {
  margin: 0;
}

li {
  list-style: none;
  display: inline;
}

a {
  text-decoration: none;
  font-size: 15px;
}

a:hover {
  text-decoration: none;
}
/* ----------------------header부분--------------------------- */
.header a {
  color: black;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.header-left {
  margin-left: 15px;
  padding: 10px;
}

.header li {
  padding: 10px;
}

.header button {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  border: none;
  font-size: 19px;
}

.fa-solid {
  color: black;
}

.btn1 {
  background-color: white;
  color: black;
}

.btn1:hover {
  background-color: rgb(240, 240, 240);
}
.btn2 {
  background-color: rgb(239, 108, 0);
  color: white;
}

.btn2:hover {
  border: 4px solid rgb(240, 240, 240);
}
h1 {
  font-size: 100px;
  font-weight: 555;
}
h1 span:nth-child(1) {
  color: #4285f4;
}
h1 span:nth-child(2) {
  color: #ea4335;
}
h1 span:nth-child(3) {
  color: #fbbc05;
}
h1 span:nth-child(4) {
  color: #4285f4;
}
h1 span:nth-child(5) {
  color: #34a853;
}
h1 span:nth-child(6) {
  color: #ea4335;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
