body {
  margin: 0;
}

li {
  list-style: none;
  display: inline;
}

a {
  text-decoration: none;
  font-size: 15px;
}

a:hover {
  text-decoration: none;
}
/* ----------------------header부분--------------------------- */
.header a {
  color: black;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.header-left {
  margin-left: 15px;
  padding: 10px;
}

.header li {
  padding: 10px;
}

.header button {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  border: none;
  font-size: 19px;
}

.fa-solid {
  color: black;
}

.btn1 {
  background-color: white;
  color: black;
}

.btn1:hover {
  background-color: rgb(240, 240, 240);
}
.btn2 {
  background-color: rgb(239, 108, 0);
  color: white;
}

.btn2:hover {
  border: 4px solid rgb(240, 240, 240);
}

/* ----------------------구글 글자 부분--------------------------- */

h1 {
  font-size: 100px;
  font-weight: 555;
}
h1 span:nth-child(1) {
  color: #4285f4;
}
h1 span:nth-child(2) {
  color: #ea4335;
}
h1 span:nth-child(3) {
  color: #fbbc05;
}
h1 span:nth-child(4) {
  color: #4285f4;
}
h1 span:nth-child(5) {
  color: #34a853;
}
h1 span:nth-child(6) {
  color: #ea4335;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* ----------------------검색창 부분--------------------------- */
form {
  display: flex;
  border: 3px solid rgb(223, 225, 229);
  width: 650px;
  height: 40px;
  border-radius: 25px;
  align-items: center;
  input:focus {
    outline: none;
  }
}

form .bi {
  margin: 0 14px;
}
/* 첫번째 인자는 상하, 2번째 인자는 좌우 */

.search-bar {
  width: 600px;
  height: 36px;
  margin-right: 10px;
  border: none;
}

.bi-search {
  color: rgb(154, 160, 166);
}

.bi-keyboard-fill {
  color: rgb(154, 160, 166);
}
/* ----------------------버튼 부분 부분부분--------------------------- */

.bbox a {
  color: black;
  font-size: 17px;
  border-radius: 4px;
  background-color: rgb(236, 238, 241);
  text-align: center; /* 텍스트 중앙 정렬 */
  display: block; /* a 태그를 블록 요소로 설정 */
}

.bbox {
  padding: 2px; /* 내부 여백 */
  margin-top: 30px; /* 외부 여백 */
  margin-right: 30px; /* 외부 여백 */
  width: 200px; /* 너비 */
  height: 50px; /* 높이 */
  display: inline-block; /* 인라인 블록 */
  border-radius: 4px;
  border: none;
}

/* ----------------------공백 채우는 부분부분--------------------------- */
.space {
  height: 370px;
}
/* ----------------------footer부분--------------------------- */

.footer {
  display: flex;
  flex-direction: row;
  /* justify-content: flex-start; */
  background-color: rgb(242, 242, 242);
  height: 99px;
  width: 100%;
}

.country {
  display: flex;
  /* justify-content: flex-start; */
  /* align-content: ; */
  justify-content: flex-start;
  margin: ;
}
